[package]
name = "wire"
version = "0.0.0"
description = "The implementation of the Lightning Network wire protocol"
license = "Apache-2.0"
authors = ["LightningPeach <contact@lightningpeach.com>"]

[lib]
name = "wire"

[dependencies]
serde = "1"
serde_derive = "1"
bincode = { path = "../bincode" }
bitflags = "1"
secp256k1 = "0.9.2"
rand = "0.5"
sha2 = "0.7.1"
flate2 = "1"

[dev-dependencies]
hex = "0.3.2"
